.inputCon {
  display: flex;
  gap: 1rem;
  border: 1px solid yellow;
  position: relative;
}
.inputCon > * {
  padding: 1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.inputCon input {
  flex: 1;
  background-color: #262626;
}
.inputCon:focus {
  background-color: #fff;
  color: black;
}
.inputCon button {
  padding-right: 2.5rem;
  background-color: #1e6f9f;
  color: white;
  position: relative;
}
.inputCon button::after {
  content: '+';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateX(10px);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
